<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC65UzWW0-GMBDUrryqV_I3IuziolHguJU</string>
	<key>GCM_SENDER_ID</key>
	<string>653589294288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sample</string>
	<key>PROJECT_ID</key>
	<string>notemaker-1d590</string>
	<key>STORAGE_BUCKET</key>
	<string>notemaker-1d590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653589294288:ios:f3a792063ddb87fafac2d5</string>
</dict>
</plist>